<html>
<% include ./partials/head %>
<body>
    <!-- Navigation start -->
    <% include ./partials/header %>
    <!-- Navigation ends -->

	<div class="container">
		<h1>This is Home</h1>
	</div>
	
</body>
</html>